
carfinder/carfinder.xcodeproj/project.xcworkspace/xcuserdata/cneale.xcuserdatad/UserInterfaceState.xcuserstate

carfinder/carfinder.xcodeproj/xcuserdata/cneale.xcuserdatad/xcschemes/carfinder.xcscheme

carfinder/carfinder.xcodeproj/xcuserdata/cneale.xcuserdatad/xcschemes/xcschememanagement.plist

carfinder/carfinder.xcodeproj/xcuserdata/cneale.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate

*.xcscheme

wayback/carfinder.xcodeproj/xcuserdata/cneale.xcuserdatad/xcschemes/xcschememanagement.plist
